body {
    background-color: rgb(17, 17, 17);
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: Tahoma, Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

.topnav {
    width: 100%;
    height: 60px;
    top: 0;
    position: sticky;
    background-color: rgb(22, 22, 22);
    padding: 0 20px;
    display: flex;
    align-items: center;
    z-index: 5;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
}

.toptxt {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.FtGames {
    width: 300px;
    height: 180px;
    margin: 20px;
    float: left;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FtGames:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.sectionft {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    color: #f0f0f0;
    text-align: center;
    margin-top: 20px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #0056b3;
}


.slide-menu ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}
